In [1]:
import pandas as pd

In [2]:
from textblob import TextBlob

In [25]:
def traduccion(texto):
    try:
        tr=TextBlob(str(texto))
        return tr.translate(from_lang='es',to='en').string
    except: 
        return texto

In [6]:
df=pd.read_csv('lista de palabras.csv',encoding = "ISO-8859-1")

In [26]:
df['traduccion']=df['palabras'].apply(traduccion)

In [23]:
df.head()

   palabras traduccion
0      Agua      Water
1      Aire        Air
2   Alcohol    Alcohol
3      Alma       soul
4  Amarillo     Yellow